.App {
  font-family: sans-serif;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav a {
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

a.active {
  background-color: blue;
  color: white;
}
